<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471845072297-c9c203c5hqm73273afhj6kd8050q99gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471845072297-c9c203c5hqm73273afhj6kd8050q99gt</string>
	<key>API_KEY</key>
	<string>AIzaSyCOIq5PjgpAo1viUtQTPE6zjawJkyNDm28</string>
	<key>GCM_SENDER_ID</key>
	<string>471845072297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibotnoi.botcasts</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-6ba97</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-6ba97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471845072297:ios:bbfb941a1bff2b2e2c28b8</string>
</dict>
</plist>